option={
        title:{
            text:"多轴折线图-示例",

        },
        legend:{
            data:['网易','网易访问率'],
            x:'center'
        },
        tooltip:{
            trigger:"axis"
        },
        xAxis: [
            {
                type: 'category',
                data: ["一", "二", "三", "四", "五", "六", "日"],
                tickFormat:function(data){
                    return "周"+data;
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
            },
            {
                type: 'value',
                maxValue: 100,
                minValue: 0,
                position:'right',
                tickFormat:function(data){
                    return data+'%'
                }
            }
        ],
        resize:{
                    enable:true
                },
        series: [
            {
                type:"line",
                name: '网易',
                data:[100,230,500,160,402,340,380]
            },
            {
                yAxisIndex:1,
                type:"line",
                name:"访问率",
                data:[6,11,10,7,10,11,11],
                formatter:function(name,data){
                    return '<p>'+name + ':&nbsp;' + data+'%</p>';
                }
            }
        ]
    }