.left{
    float: left;
    width: 300px;
    height: 100%;
    background: rgb(17, 153, 196);;
}
.main{
    margin-left:300px;
    height: 100%;
    background: #eee;
}
ul,li{
    list-style: none;
    margin:0;
    padding:0;
}
li{
    padding-left:10px;
}

.detail-content{
    height: 100%;
}
ul.detail-content-ul{
    background: #fff;
}
.color-black{
    color:#000;
}