option = {
        tooltip:{
            trigger:'item'
        },
        legend:{
            show:true,
            data:['腾讯','百度',"阿里巴巴","京东","淘宝"],
            x:'center',
        },
        title:{
            text:'漏斗图-示例',

        },

        series:[
            {
                name:"测试金字塔图",
                size:["50%","70%"],
                type:"funnel",
                data: [
                    {name: '腾讯', value: '80'},
                    {name: '百度', value: '100'},
                    {name: '阿里巴巴', value: '60'},
                    {name: '京东', value: '40'},
                    {name: '淘宝', value: '20'},
                ]
            }
        ]
    };