option={
        title:{
            text:"面积图-示例",
        },
        legend:{
            data:['苹果','柑橘'],
            x:'center'
        },
        tooltip:{
            trigger:"axis"
        },
        xAxis: [
            {
                type: 'category',
                data: ["一", "二", "三", "四", "五", "六", "日"],
                tickFormat:function(data){
                    return "周"+data;
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
            }
        ],
        resize:{
                    enable:true
                },
        series: [
            {
                type:"line",
                name: '苹果',
                data:[100,200,300,300,350,400,450],
                areaStyle:{
                    show:true
                }
            },
            {
                type:"line",
                name: '柑橘',
                data:[500,400,200,200,150,200,250],
                areaStyle:{
                    show:true
                }
            }
        ]
    }