option = {
    title:{
        text:"标准饼图-示例"
    },
    tooltip: {
        show: true
    },
    legend: {
        orient: 'vertical',
        x: 'right',
        show: true,
        data: ["section1", "section2", "section3", "section4", "section5", "section6"]
    },
    series: [
        {
            type: 'pie',
            center: ['50%', '50%'],
            radius: {
                outerRadius: '30%',
                innerRadius: 0
            },
            data: [
                {
                    name: "section1",
                    value: 10
                },
                {
                    name: "section2",
                    value: 20
                },
                {
                    name: "section3",
                    value: 30
                },
                {
                    name: "section4",
                    value: 40
                },
                {
                    name: "section5",
                    value: 50
                },
                {
                    name: "section6",
                    value: 60
                }
            ]
        }
    ],
    resize: {
        enable: true
    }
};