option = {
    title: {
        text: '标准雷达图-示例'
    },
    tooltip: {
        show: true
    },
    legend: {
        orient: 'vertical',
        x: 'right',
        show: true,
        data: ['李雷', '韩梅梅']
    },
    resize: {
        enable: true
    },
    animation: {
        enable: true
    },
    series: [
        {
            type: 'radar',
            levels: 4,
            radius: '25%',
            fill: false,
            center: ['50%', '50%'],
            indicator: [
                { text: '语文', max: 100, min: 0 },
                { text: '数学', max: 100, min: 0 },
                { text: '外语', max: 100, min: 0 },
                { text: '物理', max: 100, min: 0 },
                { text: '化学', max: 100, min: 0 },
                { text: '生物', max: 100, min: 0 }
            ],
            data: [
                {
                    name: '李雷',
                    value: [10,20,30,40,50,60]
                },
                {
                    name: '韩梅梅',
                    value: [80,70,60,50,40,30]
                }
            ]
        }
    ]
};