.CodeMirror {
    height: 100%;
}
#chart-nav {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    border-right: 1px solid #e7e7e7;
    width: 155px;
    background-color: #f8f8f8;
    overflow: hidden;
    z-index: 15;
}
#main-container {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 155px;
    right: 0;
}
#codeWrap {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e7e7e7;
    float: left;
    position: relative;
}
#codeHeader {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    height: 55px;
}
#code {
    width: 100%;
    position: absolute;
    top: 55px;
    bottom: 0;
}
#chartWrap {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    padding: 20px 10px;
}
.close {
    display: none;
}