.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 10px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
#main {
    position: fixed;
    top: 51px;
    bottom: 0;
    width: 100%;
}
#apiNav {
    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e7e7e7;
    overflow-y: scroll;
}
#apiNav .list-group {
    margin-bottom: 0;
}
#apiNav .list-group-item {
    /*border-left-width: 0;
    border-right-width: 0;*/
    border-width: 0;
}
/*#apiNav .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}
#apiNav .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}*/
#apiNav>.list-group .list-group .list-group-item {
    /*border-width: 0;*/
    padding: 0 10px;
}
.glyphicon-chevron-right,
.glyphicon-chevron-down {
    cursor: pointer;
}
#content {
    float: left;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 10px;
}